{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Connexion{% endblock %}

{% block body %}
    <div class="form-identification">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                   Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}


            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
            <br>
            <br>
            <label for="inputEmail">Pseudo ou email :</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <br>
            <br>

                <div class="checkbox mb-3">
                    <label>
                        <input class="checkbox-identification" type="checkbox" name="_remember_me">Rester Connecté
                    </label>
                </div>

            <br>
            <button class="btn btn-lg btn-primary" type="submit" id="btn">
                Connexion
            </button>

            <canvas id="confetti-canvas"></canvas>

            <br><br>
            <div><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a> </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script type="text/javascript">
    const btn = document.querySelector('#btn');
    const canvas = document.querySelector('#confetti-canvas');
    function onButtonClick(){
        var myConfetti = confetti.create(canvas, {
            resize: true,
            useWorker: true
        });
        myConfetti({
            particleCount: 100,
            spread: 160
        });
    }
    btn.addEventListener('click', onButtonClick);
</script>

{% endblock %}
