{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.pseudo }}
{% endblock %}

{% block body %}
    <h2>{{ user.pseudo }}</h2>
        <div>Prénom: {{ user.prenom }}</div>
        <div>Nom: {{ user.nom }}</div>
        <div>Téléphone: {{ user.telephone }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Site de rattachement: {{ user.site.nom }}</div>
    <br><br>

    {% if user.photo %}
        <img class="photo_profil" src="{{ asset('img/imgProfil/'~user.photo) }}" alt="photo profil">
    {% else %}
        <img class="photo_profil" src="{{ asset('img/default.png') }}" alt="photo profil par defaut">
    {% endif %}

    <br><br>

    <button type="button"><a href="{{ path('sortie_accueil')}}">Retour</a></button>
{% endblock %}


