{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.pseudo }}
{% endblock %}

{% block body %}
    <h2>{{ user.pseudo }}</h2>
        <div>Prénom: {{ user.prenom }}</div>
        <div>Nom: {{ user.nom }}</div>
        <div>Téléphone: {{ user.telephone }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Site de rattachement: {{ user.site.nom }}</div>

    <button type="button"><a href="{{ path('sortie_accueil') }}">Retour</a></button>
{% endblock %}


