{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}

    <h1>Mon profil</h1>

    {{ form_start(userForm) }}

    {{ form_widget(userForm) }}

    <button>Modifier</button>
    {{ form_end(userForm) }}

    <img src="{{ asset('img/imgProfil/img-profil.jpg') }}">

{% endblock %}

