{% extends 'base.html.twig' %}

{% block body %}

    <h1> Gérer les sites</h1>

    <h2>Filtrer les sites</h2>

    <form class="conteneur-flex" action="{{ path('admin_sites_tri') }}" method="post">
        <label for="recherche">Le nom contient :</label>
        <input type="text" name="rechercher" value="{{ recherche|default() }}">
        <br>
        <input type="submit" name="Rechercher" value="Rechercher">

    </form>
    <br>

    <table>
        <tbody>
        <tr>
            <td>Villes</td>
            <td>Actions</td>
        </tr>

        {% for site in listeSites %}

            <tr>
                <td>  {{ site.nom }} </td>
                <td>   <a href="{{ path('admin_sites_modif', {'id': site.id})}}">Modifier</a>  -   <a href="{{ path('admin_sites_suppr', {'id': site.id})}}">Supprimer</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br>
    <button type="button"><a href="{{ path('admin_sites_creer') }}">Ajouter</a></button>


{% endblock %}

{% block title %}

{% endblock %}

