{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un groupe</h1>
    <br>

    <div>
        {{ form_start(groupeForm) }}
        {{ form_row(groupeForm.nom) }}

        <br><br>
        {{ form_row(groupeForm.Utilisateurs) }}
        {{ form_widget(groupeForm) }}

        <br>
        <br>
        <button type="submit">Enregistrer</button>

        <button type="button"><a href="{{ path('admin_utilisateurs') }}">Annuler</a></button>

        {{ form_end(groupeForm) }}
    </div>

{% endblock %}


{% block title %}
    {{ parent() }} | Créer un nouveau groupe
{% endblock %}


