{% extends 'base.html.twig' %}

{% block body %}

    <h1> Sorties </h1>
    <h2> Filtrer les sorties </h2>

        <p> Date du jour : {{ dateDuJour | date ('d-m-Y') }}</p>
        <p> Participant : {{ app.user.prenom }} </p>



    <!-- formulaire pour filtrer ? ou juste boutons de filtres comme pokemon ? -->
    <!-- mettre le lien de la route tri dans le form -->
    <form action="{{ path('sortie_tri') }}" method="post">
        <label for="site">Site :</label>

        <select name="site" >
            {% for site in listeSite %}
            <option value="{{ site.id }}">{{ site.nom }}</option>
            {% endfor %}
        </select>

        <label for="recherche">Le nom de la sortie contient :</label>
        <input type="text" name="rechercher" value="">

        <label for="start">Entre :</label>
        <!-- min date du jour -->
        <input type="date" id="start" name="date-start"
               min="2018-01-01" max="2025-01-01">
        <label for="start">Entre :</label>
        <!-- min date du jour -->
        <input type="date" id="end" name="date-end"
               min="2018-01-01" max="2025-01-01">

        <br>
        <!-- Cases à cocher , boutons , form ??-->
        <input type="checkbox" id="orga" name="orga" >
        <label for="orga">Sorties dont je suis l'organisateur/trice</label>

        <input type="checkbox" id="inscrit" name="inscrit" >
        <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>

        <input type="checkbox" id="nonInscrit" name="nonInscrit" >
        <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>

        <input type="checkbox" id="passees" name="passees" >
        <label for="passees">Sorties passées</label>

        <br>

     <input type="submit" name="Rechercher" value="Rechercher">

    </form>

    <section class="sorties-list">
        <table>
        <tbody>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>Inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>

        {% for sortie in listeSortie %}


            <article>
                <tr>
                <tr href="{{ path('sortie_afficher', {'id': sortie.id}) }}">
                    <td>  {{ sortie.nom }} </td>
                    <td>{{ sortie.dateHeureDebut | date('Y-m-d H:i:s') }} </td>
                    <td> {{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
                    <td> {{ sortie.participant | length }} / {{ sortie.nbInscriptionMax }} </td>
                    <!-- nb de participant
                     table sortie_user et faire une requete avec count ? -->
                    <td> {{ sortie.etatE.libelle }} </td>
                    <td>

                        {% if (sortie.participant.contains(app.user)) %}
                              X
                        {% endif %}

                        </td> <!-- if app.user est inscrit ? mettre une croix -->
                    <td> {{ sortie.organisateur.prenom}}</td>
                    <td>
                        <a href="{{ path('sortie_afficher', {'id': sortie.id})}}">Afficher</a>
                        {% if (sortie.participant.contains(app.user)) %}
                         -   <a href="#">Se désister</a>
                        {% endif %}

                        {% if (not sortie.participant.contains(app.user)) %}
                            -  <a href="{{ path('sortie_sinscrire', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}

                        {% if (sortie.organisateur == app.user) %}
                            -  <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}

                        </td>
                </tr>
                </a>
            </article>

        {% endfor %}

        </tr>
        </tbody>
        </table>

    </section>

{% endblock %}

{% block title %}

    {{ parent() }} | Accueil sorties

{% endblock %}

