{% extends 'base.html.twig' %}

{% block body %}

    <h1> Sorties </h1>

    <div class="container_accueil">
        <div class="head_accueil">
                <h4> Bienvenue  {{ app.user.prenom }} !</h4>
        </div>

    <form class="form_accueil" action="{{ path('sortie_tri') }}" method="post">
        <h2> Filtrer les sorties </h2>

        <div class="contenu-1_form_accueil">
            <label for="site">Site :</label>

            <select name="site" >
                <option value="">Choisissez un site</option>
                {% for site in listeSite %}
                    <option value="{{ site.id }}" {% if app.request.query.get('site') == site.id %}selected{% endif %}>{{ site.nom }}</option>
                {% endfor %}
            </select>

            <label for="recherche">Le nom de la sortie contient :</label>
            <input type="text" name="rechercher" value="{{ recherche|default() }}">

            <label for="start">Entre :</label>
            <input type="date" id="start" name="date-start"
                   min="2018-01-01" max="2025-01-01" value="{{ dateStart|default() }}">

            <label for="start">Et :</label>
            <input type="date" id="end" name="date-end"
                   min="2018-01-01" max="2025-01-01" value="{{ dateEnd|default() }}">
        </div>
        <div class="contenu-2_form_accueil">
            <div class="Checkbel_1">
                <input class="mon-checkbox" type="checkbox" id="orga" name="orga" {% if orga|default(false) %}checked{% endif %}>
                <label class="mon-label" for="orga">Sorties dont je suis l'organisateur/trice</label>
            </div>

            <div class="Checkbel_2">
                <input class="mon-checkbox" type="checkbox" id="inscrit" name="inscrit" {% if inscrit|default(false) %}checked{% endif %}>
                <label class="mon-label" for="inscrit">Sorties auxquelles je suis inscrit/e</label>
            </div>

            <div class="Checkbel_3">
                <input class="mon-checkbox" type="checkbox" id="nonInscrit" name="nonInscrit" {% if nonInscrit|default(false) %}checked{% endif %}>
                <label class="mon-label" for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>

            <div class="Checkbel_4">
                <input class="mon-checkbox" type="checkbox" id="passees" name="passees" {% if passees|default(false) %}checked{% endif %}>
                <label class="mon-label" for="passees">Sorties passées</label>
            </div>
        </div>

        <div class="contenu-3_form_accueil">
            <input type="submit" name="Rechercher" value="Rechercher" style="width: 200px;">
        </div>
    </form>

        <br>

    <section class="sorties-list">
        <table>
        <tbody>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>Inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
        </tr>

        {% for sortie in listeSortie %}

            <article>
                <tr>
                <tr href="{{ path('sortie_afficher', {'id': sortie.id}) }}">
                    <td>  {{ sortie.nom }} </td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y H:i') }} </td>
                    <td> {{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td> {{ sortie.participant | length }} / {{ sortie.nbInscriptionMax }} </td>
                    <td> {{ sortie.etatE.libelle }} </td>
                    <td>

                        {% if (sortie.participant.contains(app.user)) %}
                              X
                        {% endif %}

                    <td><a href="{{ path('user_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom}}</a></td>
                    <td>
                        <a href="{{ path('sortie_afficher', {'id': sortie.id})}}">Afficher</a>

                        {% if (sortie.participant.contains(app.user) and (sortie.dateLimiteInscription > dateDuJour) and (sortie.etatE.id == 2)) %}
                         -   <a href="{{ path('sortie_desiste', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}

                        {% if (not sortie.participant.contains(app.user) and (sortie.dateLimiteInscription > dateDuJour) and (sortie.etatE.id == 2) and sortie.participant.count < sortie.nbInscriptionMax) %}
                            -  <a href="{{ path('sortie_sinscrire', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}

                        {% if (sortie.organisateur == app.user) and (sortie.etatE.id == 1) %}
                            -  <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}

                        {% if (sortie.organisateur == app.user) and (sortie.etatE.id == 1 or sortie.etatE.id == 2 ) %}
                            -  <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}

                        {% if (sortie.organisateur == app.user or app.user.administrateur == true) and (dateDuJour < sortie.dateHeureDebut) and sortie.etatE.id !=6%}
                            -  <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}


                    </td>
                </tr>
                </a>
            </article>

        {% endfor %}

        </tr>
        </tbody>
        </table>

        <br>
        <br>

        <button type="button"><a href="{{ path('sortie_creer') }}">Créer une sortie</a></button>

    </section>
    </div>

{% endblock %}

{% block title %}

    {{ parent() }} | Accueil sorties

{% endblock %}

