{% extends 'base.html.twig' %}

{% block title %}
 {{ parent() }} | Annuler une sortie
{% endblock %}

{% block body %}
<h1>Annuler {{ sortie.nom }}</h1>
    <div>Date de la sortie: {{ sortie.dateHeureDebut | date('d-m-Y') }}</div>
    <div>Site organisateur: {{ sortie.site.nom }}</div>
    <div>Lieu: {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</div>
    <div>Motif: </div>


    <div>
        <form action="{{ path('sortie_annuler', {'id': sortie.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('annuler'~sortie.id) }}">
            <button>Enregistrer</button>
        </form>
    </div>

    <div><button type="button"><a href="{{ path('sortie_accueil') }}">Annuler</a></button></div>

{% endblock %}

