{% extends 'base.html.twig' %}

{% block body %}
        <div class="container_sortie">
        <h1>Créer une sortie</h1>
        <br>

            {{ form_start(sortieForm) }}

            {{ form_widget(sortieForm) }}

            <button type="submit">Enregistrer</button>

            <button type="button"><a href="{{ path('sortie_accueil') }}">Annuler</a></button>

            {{ form_end(sortieForm) }}
        </div>
    </div>

    <button type="button" onclick="creerLieu()" >Ajouter un lieu</button>
    <br>
    <br>
    <div class="container_lieu">
        <div id="lieu-details"></div>
        <div id="creer-lieu"></div>
    </div>

{% endblock %}


    {% block javascripts %}
        <script>
            const selectElement = document.getElementById("sortie_Lieu");

            selectElement.addEventListener("change", (event) => {
                //console.log(window.location.origin+"Projet_Symfony/public/lieu/"+event.target.value)
                //console.log(window.location.origin)
                // ici avec event.target.value on récupère la valeur de l'élément sélectionné
                const url = "{{ path('app_login') }}lieu/"+event.target.value;
                //const url = window.location.origin+"/Projet__Symfony/public/lieu/"+event.target.value
                fetch(url)
                    .then(response => response.json())
                    .then(lieu => {
                        // Afficher les détails du lieu
                        const lieuDetails = document.getElementById('lieu-details');
                        lieuDetails.innerHTML = `
                        <h1>${lieu.nom}</h1>
                        <p>Ville : ${lieu.ville.nom}</p>
                        <p>Rue : ${lieu.rue}</p>
                        <p>Code postal : ${lieu.ville.code_postal}</p>
                        <p>Latitude : ${lieu.latitude}</p>
                        <p>Longitude : ${lieu.longitude}</p>
                            `;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });

            function creerLieu() {
                const url = "{{ path('creerLieu') }}";
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('creer-lieu').innerHTML = html;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }

        </script>

        <script>
            function annulerPage() {

                const myDiv = document.getElementById("myDiv");

                myDiv.innerHTML = "";
            }

            function enregistrerLieu(){
                    const url = "{{ path('creerLieu') }}";
                    const lieuForm = document.getElementById("lieu-form");
                    const formData = new FormData(lieuForm);

                    fetch(url, {
                        method: "POST",
                        body: formData
                    })
                        .then(response => response.json())
                        .then(lieu => {
                            const lieuOption = document.createElement("option");
                            lieuOption.value = lieu.id;
                            lieuOption.text = lieu.nom;
                            selectElement.appendChild(lieuOption);
                        })
                        .catch(error => {
                            console.log(error);
                        });
            }
        </script>


    {% endblock %}


{% block title %}
    {{ parent() }} | Créer une nouvelle sortie
{% endblock %}

