<header>
    {% if app.user %}
        <div>
            <a href="{{ path('sortie_accueil') }}"><img src="{{ asset('img/logo/Logo-Sortir-Ici.png') }}" alt="logo Sortir"></a>
        </div>
    {% else %}
        <div>
            <img src="{{ asset('img/logo/Logo-Sortir-Ici.png') }}" alt="logo Sortir">
        </div>
    {% endif %}
    <nav>

        <ul>

            {% if app.user %}
                <li><a href="{{ path('sortie_accueil') }}" title="accueil">Accueil</a></li>
                <li><a href="{{ path('main_modifUser') }}" title="mon profil">Mon profil</a></li>
                <li><a href="{{ path('app_logout') }}" title="se deconnecter">Se déconnecter</a></li>
                <li><a href="{{ path('sortie_creer') }}" title="creer une sortie">Créer une sortie</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Villes</a></li>
                <li><a href="#">Sites</a></li>
            {% endif %}
            {% endif %}

        </ul>
    </nav>


</header>